.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.header {
  padding: 3px;
  text-align: center;
  background: DarkSalmon;
  color: white;
  font-size: 20px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}


* {
  box-sizing: border-box;
}
input{
border: 1px solid #bdbdbd;
border-radius:5px;
margin:10px;
padding:5px;
}
nav ul li{
  display:inline;
  margin:3%;
}

nav ul li a{
  text-decoration:none;
  color:blue;
}
nav ul li a:hover, a.actual{
  color:green;
}
